@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,600i,900&display=swap");

$black: #262928;
$darkGray: #363c3a;
$medGray: #5e6462;
$lightGray: #c5c2b8;
$light: #eae7e5;
$accent: #fba23b;

//

$headerHeight: 75px;

* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $darkGray;
}
button {
    background: none;
    border: none;
}
a {
    text-decoration: none;
}
/// Utilities ////
form {
    display: block;
}
input {
    display: block;
    padding: 7px 20px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: $accent;
    border-radius: 4px;
    margin-bottom: 30px;
    width: calc(100% - 80px);
    background-color: $medGray;
    border: none;

    &::placeholder {
        color: $lightGray;
    }
}
.hidden {
    display: none;
}
.btn {
    font-weight: 600;
    font-style: italic;
    color: $accent;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.171);
    &.big {
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        margin-bottom: 30px;
        width: calc(100% - 80px);
    }
    &.outline {
        border: 1px solid $accent;
    }
    &.fill-gray {
        background-color: $medGray;
    }
}
//////////// HEADER ///////////////

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: $headerHeight;

    h1 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 3px;
        color: $accent;
    }
    .menu-btn {
        padding: 0;
        svg {
            height: 35px;
            width: 35px;
            path {
                fill: $accent;
            }
        }
    }
    .sign-in-btn {
        color: $accent;
        font-weight: 600;
        font-style: italic;
        border: 1px solid $accent;
        padding: 3px 5px;
        border-radius: 4px;
    }
}

///////// LOGIN //////////////

.login-component {
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - (#{$headerHeight} * 2));
    h1 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 3px;
        color: $accent;
        margin-bottom: 50px;
    }

    .actions-initial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

// SEARCH //

.search-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    form {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    li {
        color: $light;
    }
}

/// SEARCH ////

.search-component {
    .search-listing {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: calc(100% - 40px);
        border-bottom: 1px solid $black;
        margin: 0 auto;
        padding: 10px;
        max-width: 100%;

        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            flex-shrink: 0;
            border-radius: 40px;
        }
        .desc {
            text-align: left;
            padding: 5px;
            margin-left: 10px;
        }
        h3 {
            font-size: 0.9rem;
            font-weight: 600;
            color: $light;
            margin: 0;
            margin-bottom: 3px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            width: 100%;
            max-width: 100%;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        p {
            font-size: 0.875rem;
            color: $lightGray;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            width: 100%;
            max-width: 100%;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
    }
}

/// Channel ////

.channel-container {
    max-width: 100vw;
    .title-container {
        text-align: center;
        width: 100%;
        padding: 20px;
        h1 {
            color: $light;
            font-weight: 600;
            font-size: 1.4rem;
        }
        img {
            width: 150px;
            box-shadow: 0px 3px 10px 0px opacify($black, $amount: 0.3);
        }
    }
    .track-list {
        max-width: 600px;
        margin: 0 auto;
        button {
            width: calc(100% - 40px);
            background-color: $medGray;
            margin: 5px 20px;
            border-radius: 4px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.123);
            text-align: left;
            padding: 20px;
            h3 {
                margin: 0;
                color: $light;
                font-weight: 600;
            }
            .date {
                color: $lightGray;
                font-size: 0.8rem;
                margin: 0;
                margin-top: -5px;
                margin-bottom: 5px;
            }
        }
    }
}

/// Player ////

.player-component {
    position: fixed;
    min-height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .progress-bar {
        width: 100%;
        height: 66px;
        z-index: -1;
    }
    .desc {
        padding: 10px 20px;
        padding-right: 0;
        p {
            color: $lightGray;
            font-size: 0.8rem;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            width: 100%;
            max-width: 100%;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        h4 {
            margin: 0;
            color: $black;
            font-size: 0.9rem;
            font-weight: 700;
            overflow: hidden;
            display: -webkit-box;
            width: 100%;
            max-width: 100%;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }
    .controls {
        background-color: $medGray;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px -2px 10px 0px #262928c2, 0px -5px 20px 0px #262928b0;
        padding-bottom: 15px;
        .inner {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            // padding: 10px;
            margin-left: auto;
            padding: 10px 20px;
        }
    }

    .previous,
    .next {
        display: flex;
        align-items: center;
        // margin-right: 10px;
        padding: 0;
        svg {
            height: 40px;
            width: 40px;
        }
        path {
            fill: $darkGray;
        }
    }
    .next {
        margin-right: 5px;
    }
    .play,
    .pause {
        flex-shrink: 0;
        width: 45px;
        height: 45px;
        background-color: $darkGray;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 40px;
            width: 40px;
            transform: translateX(2px);
        }
    }
    .pause {
        svg {
            transform: translateX(0px);
        }
    }
    .loading-bar {
        width: 100%;
    }
    .progress-bar {
        width: 100%;
        display: relative;

        height: 10px;
        .progress-inner {
            height: 10px;
            background-color: $accent;
            width: 0;
        }
        .loading-inner {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 10px;
            z-index: -1;
            background-color: $accent;
            background-color: transparentize($accent, $amount: 0.4);
        }
    }
}
