extends layout

block content
  header.desktop-only
    h2 PODCHAT
  section.mobile-only
    img.logo(src="/images/podchat.svg")
    h2 PODCHAT
    a(href='/app/#/login').btn.big.outline LOGIN
    a(href='/app/#/register').btn.big.fill-gray REGISTER
  section.home-main.desktop-only
    h1 Welcome to the Podcast Community
    p Join the conversation in real time with your favorite podcasts <br> and a network of psychopaths!
    button.btn.big.outline LOGIN
    button.btn.big.fill-gray REGISTER
